AIAAsyncErrorHandlingBPELProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="AIAAsyncErrorHandlingBPELProcess" targetNamespace="http://xmlns.oracle.com/AIAAsyncErrorHandlingBPELProcess" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:client="http://xmlns.oracle.com/AIAAsyncErrorHandlingBPELProcess">
   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://xmlns.oracle.com/AIAAsyncErrorHandlingBPELProcess" schemaLocation="xsd/AIAAsyncErrorHandlingBPELProcess.xsd"/>
      </schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="xsd/Meta.xsd"/>
      </xsd:schema>
   </types>
   <message name="AIAAsyncErrorHandlingBPELProcessResponseMessage">
      <part name="payload" element="client:AIAAsyncErrorHandlingBPELProcessProcessResponse"/>
   </message>
   <message name="AIAAsyncErrorHandlingBPELProcessRequestMessage">
      <part name="FaultMessage" element="ns1:Fault"/>
   </message>
   <portType name="AIAAsyncErrorHandlingBPELProcessCallback">
      <operation name="onResult">
         <input message="client:AIAAsyncErrorHandlingBPELProcessResponseMessage"/>
      </operation>
   </portType>
   <portType name="AIAAsyncErrorHandlingBPELProcess">
      <operation name="initiate">
         <input message="client:AIAAsyncErrorHandlingBPELProcessRequestMessage"/>
      </operation>
   </portType>
   <plnk:partnerLinkType name="AIAAsyncErrorHandlingBPELProcess">
      <plnk:role name="AIAAsyncErrorHandlingBPELProcessProvider">
         <plnk:portType name="client:AIAAsyncErrorHandlingBPELProcess"/>
      </plnk:role>
      <plnk:role name="AIAAsyncErrorHandlingBPELProcessRequester">
         <plnk:portType name="client:AIAAsyncErrorHandlingBPELProcessCallback"/>
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
