Schema/www.itron.com.ami.2008.10.events.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.itron.com/ami/2008/10/events" elementFormDefault="qualified" targetNamespace="http://www.itron.com/ami/2008/10/events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="MeterEvents" nillable="true" type="tns:ArrayOfMeterEvent">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UnreportedEventCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventLog" nillable="true" type="tns:EventLog" />
  <xs:complexType name="ArrayOfMeterEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeterEvent" nillable="true" type="tns:MeterEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeterEvent" nillable="true" type="tns:ArrayOfMeterEvent" />
  <xs:complexType name="MeterEvent">
    <xs:sequence>
      <xs:element name="Timestamp" type="xs:dateTime" />
      <xs:element name="Category" type="tns:Category" />
      <xs:element name="LogType" type="tns:LogType" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Arguments" nillable="true" type="tns:ArgumentDictionary">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeterEvent" nillable="true" type="tns:MeterEvent" />
  <xs:simpleType name="Category">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Configuration" />
      <xs:enumeration value="StatusEvent" />
      <xs:enumeration value="BillingEvent" />
      <xs:enumeration value="CommonOperation" />
      <xs:enumeration value="PowerOutageOrRestoration" />
      <xs:enumeration value="Communication" />
      <xs:enumeration value="HanDeviceEvent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:simpleType name="LogType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Other" />
      <xs:enumeration value="History" />
      <xs:enumeration value="Event" />
      <xs:enumeration value="LocalAreaNetwork" />
      <xs:enumeration value="HomeAreaNetwork" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogType" nillable="true" type="tns:LogType" />
  <xs:complexType name="ArgumentDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Argument">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgumentDictionary" nillable="true" type="tns:ArgumentDictionary" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
</xs:schema>