Schema/www.itron.com.ami.2008.10.security.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.itron.com/ami/2008/10/security" xmlns:tns="http://www.itron.com/ami/2008/10/security" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="schemas.microsoft.com.2003.10.Serialization.xsd"/>
  <xs:complexType name="SecurityFault">
    <xs:sequence>
      <xs:element name="Id" type="ser:guid"/>
      <xs:element name="OccurredWhen" type="xs:dateTime"/>
      <xs:element name="Message" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityFault" nillable="true" type="tns:SecurityFault"/>
</xs:schema>