Schema/www.itron.com.ami.2008.10.data.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.itron.com/ami/2008/10/data" xmlns:tns="http://www.itron.com/ami/2008/10/data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="schemas.microsoft.com.2003.10.Serialization.Arrays.xsd"/>
  <xs:import namespace="http://www.itron.com/ami/2008/10/common" schemaLocation="www.itron.com.ami.2008.10.common.xsd"/>
  <xs:import namespace="http://www.itron.com/ami/2008/10/events" schemaLocation="www.itron.com.ami.2008.10.events.xsd"/>
  <xs:import namespace="http://www.itron.com/ami/2008/10/security" schemaLocation="www.itron.com.ami.2008.10.security.xsd"/>
  <xs:simpleType name="ScalingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Scaled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ScalingType" nillable="true" type="tns:ScalingType"/>
  <xs:complexType name="ArrayOfLoadProfileChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoadProfileChannel" nillable="true" type="tns:LoadProfileChannel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoadProfileChannel" nillable="true" type="tns:ArrayOfLoadProfileChannel"/>
  <xs:complexType name="LoadProfileChannel">
    <xs:sequence>
      <xs:element name="IntervalLength" type="xs:unsignedShort"/>
      <xs:element name="PulseMultiplier" type="xs:float"/>
      <xs:element name="Quantity" nillable="true" type="xs:string"/>
      <xs:element name="TimeDataEnd" type="xs:dateTime"/>
      <xs:element name="IntervalValues" nillable="true" type="tns:ArrayOfIntervalValue"/>
      <xs:element minOccurs="0" name="ReadTimeOffset" nillable="true" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadProfileChannel" nillable="true" type="tns:LoadProfileChannel"/>
  <xs:complexType name="ArrayOfIntervalValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IntervalValue" nillable="true" type="tns:IntervalValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIntervalValue" nillable="true" type="tns:ArrayOfIntervalValue"/>
  <xs:complexType name="IntervalValue">
    <xs:sequence>
      <xs:element name="ChannelValue" type="xs:decimal"/>
      <xs:element name="ProfileStatuses" nillable="true" type="tns:ArrayOfProfileStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntervalValue" nillable="true" type="tns:IntervalValue"/>
  <xs:complexType name="ArrayOfProfileStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileStatus" type="tns:ProfileStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileStatus" nillable="true" type="tns:ArrayOfProfileStatus"/>
  <xs:simpleType name="ProfileStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown"/>
      <xs:enumeration value="Overflow"/>
      <xs:enumeration value="PartialInterval"/>
      <xs:enumeration value="LongInterval"/>
      <xs:enumeration value="SkippedInterval"/>
      <xs:enumeration value="TestMode"/>
      <xs:enumeration value="DaylightSavingsTime"/>
      <xs:enumeration value="PowerFailure"/>
      <xs:enumeration value="ClockResetForward"/>
      <xs:enumeration value="ClockResetBackwards"/>
      <xs:enumeration value="MinThresholdExceeded"/>
      <xs:enumeration value="MaxThresholdExceeded"/>
      <xs:enumeration value="ConfigurationChanged"/>
      <xs:enumeration value="IntervalRecordingStopped"/>
      <xs:enumeration value="Underflow"/>
      <xs:enumeration value="TimeError"/>
      <xs:enumeration value="Tamper"/>
      <xs:enumeration value="HardwareFailure"/>
      <xs:enumeration value="CommunicationFailure"/>
      <xs:enumeration value="PowerRestored"/>
      <xs:enumeration value="InvalidServiceType"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProfileStatus" nillable="true" type="tns:ProfileStatus"/>
  <xs:complexType name="ArrayOfNetworkStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NetworkStatistic" nillable="true" type="tns:NetworkStatistic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetworkStatistic" nillable="true" type="tns:ArrayOfNetworkStatistic"/>
  <xs:complexType name="NetworkStatistic">
    <xs:sequence>
      <xs:element name="Name" nillable="true" type="xs:string"/>
      <xs:element name="NetworkKind" type="tns:NetworkKind"/>
      <xs:element name="Value" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkStatistic" nillable="true" type="tns:NetworkStatistic"/>
  <xs:simpleType name="NetworkKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown"/>
      <xs:enumeration value="Lan"/>
      <xs:enumeration value="Wan"/>
      <xs:enumeration value="Han"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NetworkKind" nillable="true" type="tns:NetworkKind"/>
  <xs:complexType name="ArrayOfRegisterValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegisterValue" nillable="true" type="tns:RegisterValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegisterValue" nillable="true" type="tns:ArrayOfRegisterValue"/>
  <xs:complexType name="RegisterValue">
    <xs:sequence>
      <xs:element name="Quantity" nillable="true" type="xs:string"/>
      <xs:element name="Source" type="tns:RegisterSource"/>
      <xs:element name="Timestamp" type="xs:dateTime"/>
      <xs:element name="Value" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="Status" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterValue" nillable="true" type="tns:RegisterValue"/>
  <xs:simpleType name="RegisterSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CurrentRegister"/>
      <xs:enumeration value="DemandResetRegister"/>
      <xs:enumeration value="SelfReadRegister"/>
      <xs:enumeration value="LastSeasonRegister"/>
      <xs:enumeration value="PresentRegister"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegisterSource" nillable="true" type="tns:RegisterSource"/>
  <xs:complexType name="BlockInfo">
    <xs:sequence>
      <xs:element name="Block" type="xs:int"/>
      <xs:element name="TotalBlocks" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlockInfo" nillable="true" type="tns:BlockInfo"/>
  <xs:element name="DataArrived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="tns:DataArrivedInput"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DataArrivedInput">
    <xs:sequence>
      <xs:element name="RequestToken" nillable="true" type="q2:RequestToken" xmlns:q2="http://www.itron.com/ami/2008/10/common"/>
      <xs:element name="ReadDataCollection" nillable="true" type="tns:ArrayOfReadData"/>
      <xs:element minOccurs="0" name="RequestMetadata" nillable="true">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xs:sequence>
          <xs:anyAttribute/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataArrivedInput" nillable="true" type="tns:DataArrivedInput"/>
  <xs:complexType name="ArrayOfReadData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReadData" nillable="true" type="tns:ReadData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReadData" nillable="true" type="tns:ArrayOfReadData"/>
  <xs:complexType name="ReadData">
    <xs:sequence>
      <xs:element name="Identifier" nillable="true" type="xs:string"/>
      <xs:element name="DeviceClass" nillable="true" type="xs:string"/>
      <xs:element name="ScalingType" type="tns:ScalingType"/>
      <xs:element minOccurs="0" name="EventLog" nillable="true" type="q3:EventLog" xmlns:q3="http://www.itron.com/ami/2008/10/events"/>
      <xs:element minOccurs="0" name="LoadProfileChannels" nillable="true" type="tns:ArrayOfLoadProfileChannel">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NetworkStatistics" nillable="true" type="tns:ArrayOfNetworkStatistic">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RegisterValues" nillable="true" type="tns:ArrayOfRegisterValue">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BlockInfo" nillable="true" type="tns:BlockInfo"/>
      <xs:element minOccurs="0" name="DeviceSerialNumber" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadData" nillable="true" type="tns:ReadData"/>
  <xs:element name="DataArrivedResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="InteractiveReadByEndpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:InteractiveReadByEndpointRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InteractiveReadByEndpointRequest">
    <xs:sequence>
      <xs:element name="EndpointRequest" nillable="true" type="q4:EndpointRequest" xmlns:q4="http://www.itron.com/ami/2008/10/common"/>
      <xs:element name="Parameters" nillable="true" type="tns:InteractiveReadParameters"/>
      <xs:element minOccurs="0" name="Metadata" nillable="true">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xs:sequence>
          <xs:anyAttribute/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteractiveReadByEndpointRequest" nillable="true" type="tns:InteractiveReadByEndpointRequest"/>
  <xs:complexType name="InteractiveReadParameters">
    <xs:sequence>
      <xs:element name="ReadingStartTime" type="xs:dateTime"/>
      <xs:element name="ReadingEndTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PerformDemandReset" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveCommunicationLog" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveHomeNetworkData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveInstantaneousData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveLastDemandReset" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveLoadProfileData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveLogEvents" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveNetworkStatistics" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrievePriorSelfRead" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveRecentRegisterData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveVoltageMonitorData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReportSelfReadOption" type="tns:ReportSelfReadOption">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveExtendedCurrentData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrievePriorExtendedSelfReadData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveInstrumentationProfileData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveExtendedLoadProfileData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PerformAndRetrieveSelfRead" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveToolboxData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveDiagnosticData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveTemperatureMonitoringData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteractiveReadParameters" nillable="true" type="tns:InteractiveReadParameters"/>
  <xs:simpleType name="ReportSelfReadOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="ReportAtStartTime"/>
      <xs:enumeration value="ReportAtEndTime"/>
      <xs:enumeration value="ReportAllInPeriod"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportSelfReadOption" nillable="true" type="tns:ReportSelfReadOption"/>
  <xs:element name="InteractiveReadByEndpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InteractiveReadByEndpointResult" nillable="true" type="q5:RequestToken" xmlns:q5="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArgumentFault" nillable="true" type="q6:ArgumentFault" xmlns:q6="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="EndpointNotFoundFault" nillable="true" type="q7:EndpointNotFoundFault" xmlns:q7="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="EndpointNotRegisteredFault" nillable="true" type="q8:EndpointNotRegisteredFault" xmlns:q8="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="InvalidUriFormatFault" nillable="true" type="q9:InvalidUriFormatFault" xmlns:q9="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="InvalidDateTimeRangeFault" nillable="true" type="q10:InvalidDateTimeRangeFault" xmlns:q10="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="TooManyConcurrentRequestsFault" nillable="true" type="q11:TooManyConcurrentRequestsFault" xmlns:q11="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="OperationFault" nillable="true" type="q12:OperationFault" xmlns:q12="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="SecurityFault" nillable="true" type="q13:SecurityFault" xmlns:q13="http://www.itron.com/ami/2008/10/security"/>
  <xs:element name="GetInteractiveReadByEndpointResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="q14:RequestToken" xmlns:q14="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInteractiveReadByEndpointResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInteractiveReadByEndpointResultResult" nillable="true" type="tns:InteractiveReadByEndpointResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InteractiveReadByEndpointResult">
    <xs:sequence>
      <xs:element name="RequestToken" nillable="true" type="q15:RequestToken" xmlns:q15="http://www.itron.com/ami/2008/10/common"/>
      <xs:element name="Identifier" nillable="true" type="xs:string"/>
      <xs:element name="Result" type="q16:Result" xmlns:q16="http://www.itron.com/ami/2008/10/common"/>
      <xs:element minOccurs="0" name="EndpointFailure" nillable="true" type="q17:EndpointFailure" xmlns:q17="http://www.itron.com/ami/2008/10/common">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReadDataCollection" nillable="true" type="tns:ArrayOfReadData">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Metadata" nillable="true">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xs:sequence>
          <xs:anyAttribute/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteractiveReadByEndpointResult" nillable="true" type="tns:InteractiveReadByEndpointResult"/>
  <xs:element name="RequestNotFinishedFault" nillable="true" type="q18:RequestNotFinishedFault" xmlns:q18="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="RequestNotFoundFault" nillable="true" type="q19:RequestNotFoundFault" xmlns:q19="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="ContingencyReadByEndpoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:ContingencyReadByEndpointsRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ContingencyReadByEndpointsRequest">
    <xs:sequence>
      <xs:element name="EndpointCollectionRequest" nillable="true" type="q20:EndpointCollectionRequest" xmlns:q20="http://www.itron.com/ami/2008/10/common"/>
      <xs:element name="Parameters" nillable="true" type="tns:ContingencyReadParameters"/>
      <xs:element minOccurs="0" name="Metadata" nillable="true">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xs:sequence>
          <xs:anyAttribute/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContingencyReadByEndpointsRequest" nillable="true" type="tns:ContingencyReadByEndpointsRequest"/>
  <xs:complexType name="ContingencyReadParameters">
    <xs:sequence>
      <xs:element name="ReadingStartTime" type="xs:dateTime"/>
      <xs:element name="ReadingEndTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PerformDemandReset" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveHomeNetworkData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveInstantaneousData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveLastDemandReset" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveLoadProfileData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveLogEvents" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveNetworkStatistics" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrievePriorSelfRead" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveRecentRegisters" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveVoltageMonitorData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReportSelfReadOption" type="tns:ReportSelfReadOption">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveExtendedCurrentData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrievePriorExtendedSelfReadData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveInstrumentationProfileData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveExtendedLoadProfileData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveAgentOutcomeData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveToolboxData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveAgentDirectorData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveTemperatureMonitoringData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContingencyReadParameters" nillable="true" type="tns:ContingencyReadParameters"/>
  <xs:element name="ContingencyReadByEndpointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContingencyReadByEndpointsResult" nillable="true" type="q21:RequestToken" xmlns:q21="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoValidTargetsFoundFault" nillable="true" type="q22:NoValidTargetsFoundFault" xmlns:q22="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="GetContingencyReadByEndpointsResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="q23:RequestToken" xmlns:q23="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContingencyReadByEndpointsResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContingencyReadByEndpointsResultResult" nillable="true" type="q24:EndpointCollectionRequestResult" xmlns:q24="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterrogateByEndpoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:InterrogateByEndpointsRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InterrogateByEndpointsRequest">
    <xs:sequence>
      <xs:element name="EndpointCollectionRequest" nillable="true" type="q25:EndpointCollectionRequest" xmlns:q25="http://www.itron.com/ami/2008/10/common"/>
      <xs:element name="Parameters" nillable="true" type="tns:InterrogationParameters"/>
      <xs:element minOccurs="0" name="Metadata" nillable="true">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xs:sequence>
          <xs:anyAttribute/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterrogateByEndpointsRequest" nillable="true" type="tns:InterrogateByEndpointsRequest"/>
  <xs:complexType name="InterrogationParameters">
    <xs:sequence>
      <xs:element name="ReadingStartTime" type="xs:dateTime"/>
      <xs:element name="ReadingEndTime" type="xs:dateTime"/>
      <xs:element name="InterrogationWindowStartTime" type="xs:dateTime"/>
      <xs:element name="InterrogationWindowEndTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PerformAndRetrieveSelfRead" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PerformDemandReset" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveHomeNetworkData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveInstantaneousData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveLastDemandReset" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveLoadProfileData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveLogEvents" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveNetworkStatistics" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrievePriorSelfRead" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveVoltageMonitorData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReportSelfReadOption" type="tns:ReportSelfReadOption">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveExtendedCurrentData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PerformExtendedSelfRead" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrievePriorExtendedSelfReadData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveInstrumentationProfileData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveExtendedLoadProfileData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveAgentOutcomeData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveToolboxData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveAgentDirectorData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetrieveTemperatureMonitoringData" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterrogationParameters" nillable="true" type="tns:InterrogationParameters"/>
  <xs:element name="InterrogateByEndpointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InterrogateByEndpointsResult" nillable="true" type="q26:RequestToken" xmlns:q26="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterrogateByEndpointsResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="q27:RequestToken" xmlns:q27="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterrogateByEndpointsResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInterrogateByEndpointsResultResult" nillable="true" type="q28:EndpointCollectionRequestResult" xmlns:q28="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterrogateByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:InterrogateByGroupRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InterrogateByGroupRequest">
    <xs:sequence>
      <xs:element name="GroupRequest" nillable="true" type="q29:GroupRequest" xmlns:q29="http://www.itron.com/ami/2008/10/common"/>
      <xs:element name="Parameters" nillable="true" type="tns:InterrogationParameters"/>
      <xs:element minOccurs="0" name="Metadata" nillable="true">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xs:sequence>
          <xs:anyAttribute/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterrogateByGroupRequest" nillable="true" type="tns:InterrogateByGroupRequest"/>
  <xs:element name="InterrogateByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InterrogateByGroupResult" nillable="true" type="q30:RequestToken" xmlns:q30="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GroupNotFoundFault" nillable="true" type="q31:GroupNotFoundFault" xmlns:q31="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="GetInterrogateByGroupResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="q32:RequestToken" xmlns:q32="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterrogateByGroupResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInterrogateByGroupResultResult" nillable="true" type="q33:GroupRequestResult" xmlns:q33="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToEndpointData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:SubscribeToEndpointDataRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SubscribeToEndpointDataRequest">
    <xs:sequence>
      <xs:element name="SubscriberRequest" nillable="true" type="q34:SubscriberRequest" xmlns:q34="http://www.itron.com/ami/2008/10/common"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscribeToEndpointDataRequest" nillable="true" type="tns:SubscribeToEndpointDataRequest"/>
  <xs:element name="SubscribeToEndpointDataResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TooManySubscribersFault" nillable="true" type="q35:TooManySubscribersFault" xmlns:q35="http://www.itron.com/ami/2008/10/common"/>
  <xs:element name="CancelEndpointDataSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:CancelEndpointDataSubscriptionRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CancelEndpointDataSubscriptionRequest">
    <xs:sequence>
      <xs:element name="SubscriberRequest" nillable="true" type="q36:SubscriberRequest" xmlns:q36="http://www.itron.com/ami/2008/10/common"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelEndpointDataSubscriptionRequest" nillable="true" type="tns:CancelEndpointDataSubscriptionRequest"/>
  <xs:element name="CancelEndpointDataSubscriptionResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmsWakeup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:SmsWakeupRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SmsWakeupRequest">
    <xs:sequence>
      <xs:element name="EndpointCollectionRequest" nillable="true" type="q37:EndpointCollectionRequest" xmlns:q37="http://www.itron.com/ami/2008/10/common"/>
      <xs:element minOccurs="0" name="Metadata" nillable="true">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xs:sequence>
          <xs:anyAttribute/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmsWakeupRequest" nillable="true" type="tns:SmsWakeupRequest"/>
  <xs:element name="SmsWakeupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SmsWakeupResult" nillable="true" type="q38:RequestToken" xmlns:q38="http://www.itron.com/ami/2008/10/common"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>